<nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand" >
        <h2
            style="color: transparent;font-family: 'BEYNO'; font-weight: w900; font-size: 40px;  background-image: linear-gradient(315deg, #42378f 0%, rgb(255, 0, 140) 74%);background-clip: text;-webkit-background-clip: text;">
            <span style="color: transparent;">Share</span>.ly
        </h2>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse details" id="navbarCollapse">
        <div class="navbar-nav ml-auto mr-5">
            <a class="nav-item nav-link " id ="copy-content" style=" border-radius:20px;background-color: rgb(177, 38, 130);color: white;  text-align: center;word-wrap: break-word; font-size: 13px; ">
               Uniqueid: <%=uniqueid%>
            </a>
        </div>
        <div class="navbar-nav ml-auto link">
            <a href="/uploads" class="nav-item nav-link p-4" style="color: #fff; font-family: 'BEYNO';">Upload</a>
            <a href="/decrypter" class="nav-item nav-link p-4" style="color: #fff;font-family: 'BEYNO';">Decrypter</a>
        </div>
        <div class="navbar-nav ml-auto mr-5 login">
            <a href="/uploads/logout" style="color: #fff;font-family: 'BEYNO';" class="nav-item nav-link">Logout</a>
        </div>
    </div>
</nav>
