<html>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Sharing</title>
    <meta name="File Sharing" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/LandingPage/logo.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/LandingPage/LandingPage.css" />
    <link rel="stylesheet" href="css/LandingPage/responsive.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>

    <!-- Navigation
    ================================================== -->
    <div class="hero-background">
        <div>
            <img class="strips" src="images/LandingPage/strips.png" draggable="false">
        </div>
        <div class="container">
            <div class="header-container header">
                <a class="navbar-brand logo" style="margin-top: -30px;" href="#"> <img class="logo-img"
                        src="images/LandingPage/logo.png" draggable="false" /> </a>
            </div>
            <!--navigation-->


            <!-- Hero-Section
          ================================================== -->

            <div class="hero row">
                <div class="hero-right col-sm-6 col-sm-6">
                    <h1 class="header-headline bold"> SHARE.LY FILE SHARING<br></h1>
                    <h3 class="header-running-text light">A File sharing App to make your File sharing experience
                        beautiful. </h3>
                    <a href="/uploads">
                        <button class="hero-btn"> Get Started</button>
                    </a>
                </div>
                <!--hero-left-->

                <div class="col-sm-6 col-sm-6 ipad">
                    <img class="mt-5 ipad-screen img-responsive" src="images/LandingPage/main.png" draggable="false" />
                </div>

            </div>
            <!--hero-->

        </div>
        <!--hero-container-->

    </div>
    <!--hero-background-->


    <!-- Features
  ================================================== -->

    <div id="features" class="features-section">

        <div class="features-container row">

            <h1 class="features-headline light">FEATURES</h1>

            <div class="col-sm-4 feature">

                <div class="feature-icon feature-no-display">
                    <img class="feature-img" src="images/LandingPage/flexibility.png" draggable="false">
                </div>
                <h5 class="feature-head-text feature-no-display"> FLEXIBLE </h5>
                <p class="feature-subtext light feature-no-display"> Everything and Anything you want to transfer, no
                    extension barriers.</p>
            </div>

            <div class="col-sm-4 feature">
                <div class="feature-icon feature-no-display feature-display-mid">
                    <img class="feature-img" src="images/LandingPage/web-browser.png" draggable="false">
                </div>
                <h5 class="feature-head-text feature-no-display feature-display-mid"> SECRYCTION </h5>
                <p class="feature-subtext light feature-no-display feature-display-mid"> Security Redefined, End-to-End
                    Encryption.</p>
            </div>

            <div class="col-sm-4 feature">
                <div class="feature-icon feature-no-display feature-display-last">
                    <img class="feature-img" src="images/LandingPage/ux.png" draggable="false">
                </div>
                <h5 class="feature-head-text feature-no-display feature-display-last"> SMOOTH AND BEAUTIFUL DESIGN </h5>
                <p class="feature-subtext light feature-no-display feature-display-last"> User-Interface Created to
                    Maintain Simplicity with Beauty.</p>
            </div>
        </div>
        <!--features-container-->
    </div>
    <!--features-section-->


    <!-- White-Section
  ================================================== -->
    <div style="background-color: black;">
        <div class="white-section row">
            <div class="col-sm-6">

                <div class="white-section-text">

                    <h1 class="imac-section-header light">UPLOAD PROCESS</h1>

                    <div class="imac-section-desc">

                        <span> Upload file by selecting your file and Choosing Specific UniqueID.
                            <hr>
                            Enter UniqueID of reciever to restrict access to your shared files.
                            Leave the UniqueID field blank to Allow all Users to download files.
                        </span>
                    </div>
                </div>
            </div>
            <div class="imac col-sm-6">
                <img class="imac-screen img-responsive" src="images/LandingPage/UP.png" draggable="false">
            </div>
            <!--imac-->


        </div>
        <br>
        <div class="white-section row">
            <div class="col-sm-6">

                <div class="white-section-text">

                    <h1 class="imac-section-header light">SECRYCTION</h1>

                    <div class="imac-section-desc">

                        <span> Well-Encrpted code to share with reciever, to maintain End-to-End Encryption.
                            <hr>
                            Only the Included Reciever will be able to download your files. Only verified user can
                            transfer or share files to ensure security. Auto Expire codes to maintain security
                            standards.
                        </span>
                    </div>
                </div>
            </div>
            <div class="imac col-sm-6">
                <img class="imac-screen img-responsive" src="images/LandingPage/se.png" draggable="false">
            </div>
            <!--imac-->


        </div>
        <br>
        <div class="white-section row">

            <div class="col-sm-6">

                <div class="white-section-text">

                    <h1 class="imac-section-header light">DOWNLOAD PROCESS</h1>

                    <div class="imac-section-desc">

                        <span> Secured downloads with User specific permissions.
                            <hr>
                            Reciever can download the shared files by pasting the shared code in the Decrypter. Auto
                            Expire code provides extra protection.
                        </span>
                    </div>
                </div>
            </div>
            <div class="imac col-sm-6">
                <img class="imac-screen img-responsive" src="images/LandingPage/down.png" draggable="false">
            </div>
            <!--imac-->


        </div>
        <!--white-section-text-section--->
    </div>
    <!-- Team
  ================================================== -->

    <div id="team" class="team">
        <h1 class="team-section-header light text-center">THE TEAM</h1>

        <div class="team-container row">


            <div class="col-sm-4 team-member">
                <img class="user" src="images/LandingPage/user.png" draggable="false">
                <div class="team-member-text">
                    <h4 class="team-member-position light">Backend Developer</h4>
                    <h5 class="bold">Bharat Jain</h5>
                </div>
            </div>
            <div class="col-sm-4 team-member">
                <img class="user" src="images/LandingPage/user.png" draggable="false"></img>
                <div class="team-member-text">
                    <h4 class="team-member-position light">Frontend Developer</h4>
                    <h5 class="bold">Akshat Shah</h5>
                </div>
            </div>
            <div class="col-sm-4 team-member">
                <img class="user" src="images/LandingPage/user.png" draggable="false">
                <div class="team-member-text">
                    <h4 class="team-member-position light">Backend Developer</h4>
                    <h5 class="bold">Akshat Singh Rajput</h5>
                </div>

            </div>

        </div>
        <!--team-container--->

    </div>
    <!--team-section--->

    <!-- Footer
  ================================================== -->


    <!--footer-->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="js/LandingPage/script.js"></script>

</body>

</html>